thead#word {
  background-color: #546EF4;
  color: white;
}

#close {
  float: right;
  margin-top: -60px;
}

.action {
  float: right;
  margin-top: 2px;
  width: 25%;
  margin-right: 10%;
}

a#word_delete {
  width: 49%;
  margin-top: 2%;
}

#btn-info-edit{
  width: 49%;
  float: right;
  margin-top: 2%;
}

.btn.btn-info.edit {
  background-color:#23aade;
  transition: all 0.35s ease;
  border-radius: 5px;
}

.btn.btn-info.edit:hover{
  border: 1px solid #23aade;
  background-color:white;
  color:#23aade;
  box-shadow:0px 0px 25px 0px #23aade;
}

.btn.btn-warning.edit{
  margin-top: 2%;
  color: white;
  width: 49%;
  float: right;
  background-color:#B7950B;
  transition: all 0.35s ease;
  border-radius: 5px;
}

.btn.btn-warning.edit:hover{
  border: 1px solid #B7950B;
  background-color:white;
  color:#B7950B;
  box-shadow:0px 0px 25px 0px #B7950B;
}

.btn.btn-danger.delete{
  background-color:#ef4430;
  transition: all 0.35s ease;
  border-radius: 5px;
}

.btn.btn-danger.delete:hover{
  border: 1px solid #ef4430;
  background-color:white;
  color:#ef4430;
  box-shadow:0px 0px 25px 0px #ef4430;
}

:root {
  --input-padding-x: 1.5rem;
  --input-padding-y: .75rem;
}

body#login {
  background: #007bff;
  background: linear-gradient(to right, #3D9970, #33AEFF);
}

.card-signin {
  border: 0;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.card-signin .card-title {
  margin-bottom: 2rem;
  font-weight: 300;
  font-size: 1.5rem;
}

.card-signin .card-body {
  padding: 2rem;
}

.form-signin {
  width: 100%;
}

.form-signin .btn {
  font-size: 80%;
  border-radius: 5rem;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 1rem;
  transition: all 0.2s;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group input {
  height: auto;
  border-radius: 2rem;
}

.form-label-group>input,
.form-label-group>label {
  padding: var(--input-padding-y) var(--input-padding-x);
}

.form-label-group>label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0;
  /* Override default `<label>` margin */
  line-height: 1.2;
  color: #495057;
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group input:-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-moz-placeholder {
  color: transparent;
}

.form-label-group input::placeholder {
  color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
  padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
  padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown)~label {
  padding-top: calc(var(--input-padding-y) / 3);
  padding-bottom: calc(var(--input-padding-y) / 3);
  font-size: 12px;
  color: #777;
}

.btn-google {
  color: white;
  background-color: #ea4335;
}

.btn-facebook {
  color: white;
  background-color: #3b5998;
}

/* Fallback for Edge
-------------------------------------------------- */

@supports (-ms-ime-align: auto) {
  .form-label-group>label {
    display: none;
  }
  .form-label-group input::-ms-input-placeholder {
    color: #777;
  }
}

/* Fallback for IE
-------------------------------------------------- */

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
  .form-label-group>label {
    display: none;
  }
  .form-label-group input:-ms-input-placeholder {
    color: #777;
  }
}

.search-form{
  margin: 0 auto;
}

.input-group{
  width: 100%;
  margin-top: 20px;
}

.eac-item {
  text-align: center;
}

.form-search{
  height: 40px;
  width: 60%;
  font-size: 30px;
  text-align: center;
  float: left;
  border: 1px solid #23aade;
}

.menuzord{
  background-color: #23aade;
}

.result-search{
  margin-top: 20px;
  width: 50%;
  margin-left: 313px;
}

.word_search {
  width: 100%;
}

.project-name{
  color: red;
}

.text-info{
  text-align: center;
  font-size: 40px;
  margin: 0 auto;
}

#post {
  width: 49%;
  float: left;
  height: 87%;
  max-height: 90%;
  overflow: auto;
  border: 1px solid #23aade;
  background-color: white;
  border-radius: 5px;
}

#sidebar {
  width: 49%;
  float: right;
  height: 87%;
  border: 1px solid #23aade;
  background-color: white;
  border-radius: 5px;
}

#post:hover{
  transform: scale(1.02);
}

#sidebar:hover{
  transform: scale(1.02);
}

.list-group.list-group-flush {
  padding: 2px;
}

.content-word {
  margin: 0 auto;
  padding: 15px;
  width: 60%;
  height: 305px;
  border: 1px solid #23aade;
  border-radius: 5px;
  margin-top: 26px;
  margin-bottom: 32px;
}

.content-word:hover {
  box-shadow:0px 0px 10px 0px #23aade;
}

#cssmenu > ul > li > a:hover {
  transform: scale(1.2);
}

#word {
  margin-bottom: 50px;
}

.description{
  margin: 10px;
  font-size: 20px;
  max-height: 78%;
  overflow: auto;
}

.clear { clear: both }
Collapse

.fa-edit {
  color: #23aade !important;
}

i.fa.fa-trash.fa-lg {
  color: #23aade;
}

.fa.fa-trash.fa-lg:hover {
  transform: scale(1.5);
}

.table-project{
  text-align: center;
}

.buton{
  margin: 10px;
}

#close{
  margin-top: 0px;
}

.new-user{
  margin-bottom: 20px;
  float: left;
}

.create-new-user {
  float: left;
}

.submit{
  width: 100%;
}

h1.text-center {
  margin: 0 auto;
  width: 50%;
}

.add-new{
  float: left;
  background-color: #23aade !important;
}

#user-thead{
  background-color: #23aade;
  color: #fff;
}

#word-title{
  background-color: #23aade;
  color: #fff;
}

.select-box{
  width: 100%;
  height: 40px;
  margin-bottom: 8px;
}

#project_id{
  float: right;
  height: 30px;
  width: 196px;
}

.ms-choice{
  height: 30px !important;
  border-radius: 0px !important;
}

.btn.add-to-project{
  background: #23aade;
  color: white;
  border: none;
  height: 100%;
  margin-right: 5px;
}

.input-group span.select2-selection.select2-selection--multiple {
  height: 100%;
  width: 99% !important;
  border: solid #23aade 1px !important;
  border-radius: 5px !important;
}

span.select2-selection.select2-selection--multiple {
  border: solid #23aade 1px !important;
}

select#project_ids {
  width: 100%;
}

#search_project{
  border: 1px solid #23aade;
  background: #fff;
  border-radius: 0;
  height: 100%;
}

.btn{
  border-radius: 5px !important;
}

.search{
  text-align: center;
  width: 150px;
}

form.form-inline.my-2.my-lg-0{
  margin: 0 auto;
  width: 55%;
}

.btn.btn-primary.search {
  background-color: #23aade !important;
  width: 10%;
  transition: all 0.35s ease;
  margin-left: 0.5%;
}

.btn.btn-primary.search:hover{
  border: 1px solid #23aade;
  background-color:white !important;
  color:#23aade;
  box-shadow:0px 0px 25px 0px #23aade;
}

tr {
  border: 1.5px solid #23aade;
}

i.fa.fa-history.fa-2x {
  color: #23aade;
}

.fa.fa-history.fa-2x:hover {
  transform: scale(1.2);
}

.modal-dialog{
  overflow-y: initial !important
}

.modal-body-1{
  height: 500px;
  overflow-y: auto;
}

.search-form .easy-autocomplete input{
  width: 100% !important;
  border-color: #23aade !important;
}

.easy-autocomplete:hover{
  box-shadow:0px 0px 10px 0px #23aade;
}

.radio-button {
  padding-left: 15px;
}

span.select2.select2-container.select2-container--default {
  width: 32% !important;
  margin-left: 0.5%;
}

.with-google{
  background-color: red;
  text-align: center;
  height: 48px;
}

a.button-login{
  font-size: 20px;
  text-align: center;
  width: 100%;
  height: 100%;
  color: #fff !important;
}

.easy-autocomplete {
  width: 50% !important;
}

a.btn.btn-primary.btn-sm.buton {
  background-color: #23aade !important;
}

.list-group-item {
  padding: .5rem 1rem !important;
  border: 1px solid rgb(255, 255, 255) !important;
}

i.fa.fa-spinner.waiting {
  color: #ffc000;
}

i.fa.fa-times.fa-lg.disapproved {
  color: red;
}

i.fa.fa-times.fa-lg.disapproved:hover {
  transform: scale(1.5);
}

i.fa.fa-check.approved {
  color: #07f53e;
}

.fa.fa-check.approved:hover {
  transform: scale(1.5);
}

.fa.fa-spinner.waiting:hover {
  transform: scale(1.5);
}

.col-md-6.suggested-word {
  float: right;
}

.col-md-6.word {
  float: left;
}

input#disapproval {
  float: right;
}

.page-item.active .page-link {
  background-color: #23aade !important;
  border-color: white !important;
}

a.check {
  color: #23aade;
}
