thead#word {
  background-color: #546EF4;
  color: white;
}

#close {
  float: right;
  margin-top: -60px;
}

.action {
  float: right;
  margin-top: 2px;
  width: 25%;
  margin-right: 10%;
}

a#word_delete {
  float: right;
  width: 35%;
}

#btn-info-edit {
  width: 35%;
}

:root {
  --input-padding-x: 1.5rem;
  --input-padding-y: .75rem;
}

body#login {
  background: #007bff;
  background: linear-gradient(to right, #3D9970, #33AEFF);
}

.card-signin {
  border: 0;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
}

.card-signin .card-title {
  margin-bottom: 2rem;
  font-weight: 300;
  font-size: 1.5rem;
}

.card-signin .card-body {
  padding: 2rem;
}

.form-signin {
  width: 100%;
}

.form-signin .btn {
  font-size: 80%;
  border-radius: 5rem;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 1rem;
  transition: all 0.2s;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group input {
  height: auto;
  border-radius: 2rem;
}

.form-label-group>input,
.form-label-group>label {
  padding: var(--input-padding-y) var(--input-padding-x);
}

.form-label-group>label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0;
  /* Override default `<label>` margin */
  line-height: 1.2;
  color: #495057;
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group input:-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-moz-placeholder {
  color: transparent;
}

.form-label-group input::placeholder {
  color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
  padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
  padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown)~label {
  padding-top: calc(var(--input-padding-y) / 3);
  padding-bottom: calc(var(--input-padding-y) / 3);
  font-size: 12px;
  color: #777;
}

.btn-google {
  color: white;
  background-color: #ea4335;
}

.btn-facebook {
  color: white;
  background-color: #3b5998;
}

/* Fallback for Edge
-------------------------------------------------- */

@supports (-ms-ime-align: auto) {
  .form-label-group>label {
    display: none;
  }
  .form-label-group input::-ms-input-placeholder {
    color: #777;
  }
}

/* Fallback for IE
-------------------------------------------------- */

@media all and (-ms-high-contrast: none),
(-ms-high-contrast: active) {
  .form-label-group>label {
    display: none;
  }
  .form-label-group input:-ms-input-placeholder {
    color: #777;
  }
}

.search-form{
  margin: 0 auto;
}

.input-group{
  width: 100%;
  margin-top: 20px;
}

.eac-item {
  text-align: center;
}

.form-search{
  height: 40px;
  width: 60%;
  font-size: 30px;
  text-align: center;
  float: left;
  border: 1px solid #23aade;
}

.menuzord{
  background-color: #23aade;
}

.result-search{
  margin-top: 20px;
  width: 50%;
  margin-left: 313px;
}

.word_search {
  width: 100%;
}

.project-name{
  color: red;
}

.text-info{
  text-align: center;
  font-size: 40px;
  margin: 0 auto;
}

#post {
  width: 49%;
  float: left;
  height: 90%;
  border: 1px solid #23aade;
  background-color: white;
}

#sidebar {
  width: 49%;
  float: right;
  height: 90%;
  border: 1px solid #23aade;
  background-color: white;
}

.list-group.list-group-flush {
  padding: 2px;
}

.content-word {
  margin: 0 auto;
  padding: 15px;
  width: 60%;
  height: 300px;
  border: 1px solid #23aade;
  margin-top: 26px;
  margin-bottom: 32px;
}

#word {
  margin-bottom: 50px;
}

.description{
  margin: 10px;
  font-size: 20px;
}

.clear { clear: both }
Collapse

/* Project
-------------------------------------------------- */

.table-project{
  text-align: center;
}

.buton{
  margin: 10px;
}

#close{
  float: right;
  margin-top: 0px;
}

.new-user{
  margin-bottom: 20px;
}

.add-new-user{
  float: right;
  border-radius: 0px !important;
  background-color: #23aade !important;
}

#user-thead{
  background-color: #23aade;
  color: #fff;
}

.select-box{
  width: 100%;
  height: 40px;
  margin-bottom: 8px;
}

#project_id{
  float: right;
  height: 30px;
  width: 196px;
}

.ms-choice{
  height: 30px !important;
  border-radius: 0px !important;
}

.add-to-project{
  background: #3baade;
  color: #fff;
  border: none;
  height: 100%;
  margin-right: 5px;
}

span.select2-selection.select2-selection--multiple {
  border-radius: 0;
  height: 100%;
  width: 230px;
  border: solid #37aade 1px !important;
}

#search_project{
  border: 1px solid #23aade;
  background: #fff;
  border-radius: 0;
  height: 100%;
}

.btn{
  border-radius: 0px !important;
}

.search{
  text-align: center;
  width: 150px;
}

form.form-inline.my-2.my-lg-0{
  margin: 0 auto;
  width: 55%;
}

input.btn.btn-primary.search {
  background-color: #23aade !important;
  width: 10%;
  margin-left: 0.5%;
}

span.select2-dropdown.select2-dropdown--below{
  width: 230px !important;
}

.history-item {
  padding-top: .5em;
  border-bottom: 1px solid #c5c5c5;
  padding-bottom: .5em;
  padding-left: .5em;
  cursor: pointer;
}

.history-type[value="w"] {
  background-color: orange;
}

.history-type {
  height: 32px;
  width: 32px;
  background-color: orange;
  text-align: center;
  line-height: 32px;
  border-radius: 50%;
  float: left;
  text-transform: capitalize;
  color: #fff;
  font-size: 14px;
}

.his-content {
  line-height: 32px;
  padding-left: 40px;
  color: rgba(0,0,0,.7);
}

.his-time {
  font-size: 10px;
  text-align: right;
  padding-right: 4px;
}

.modal-dialog{
  overflow-y: initial !important
}

.modal-body-1{
  height: 500px;
  overflow-y: auto;
}

.search-form .easy-autocomplete input{
  width: 100% !important;
  border-color: #37aade !important;
}

.radio-button {
  padding-left: 15px;
}

span.select2.select2-container.select2-container--default {
  width: 32% !important;
  margin-left: 0.5%
}

.with-google{
  background-color: red;
  text-align: center;
  height: 48px;
}

a.button-login{
  font-size: 20px;
  text-align: center;
  width: 100%;
  height: 100%;
  color: #fff !important;
}

.easy-autocomplete {
  width: 45% !important;
}

a.btn.btn-primary.btn-sm.buton {
  background-color: #37aade !important;
}

.list-group-item {
  padding: .5rem .5rem !important;
  border: 1px solid rgb(255, 255, 255) !important;
}

i.fa.fa-spinner.waiting {
  color: #ffc000;
}

i.fa.fa-times.disapproved {
  color: red;
}

i.fa.fa-check.approved {
  color: #07f53e;
}
